<!DOCTYPE html>
<html>
  <head>
    <%- include("../partials/meta") %>

    <link rel="stylesheet" href="/css/general_styles.css" />
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-1 col-md-2"><%- include("../partials/sidebar") %></div>
        <div class="col-11 col-md-6 col-lg-5">
          <div class="container-sm mw-50">
            <div class="d-flex flex-row align-items-center">
              <div class="mx-3">
                <a class="text-black" href="/<%= locals.user.username %>"
                  ><i class="fas fa-arrow-left fa-lg"></i
                ></a>
              </div>
              <div>
                <h1 class="mb-0 mt-3 fs-2"><%= user.firstname %> <%= user.lastname %></h1>
                <small class="text-body-tertiary"><%= user.username%></small>
              </div>
            </div>
            <div class="d-flex justify-content-between ml-2 my-3">
              <h3 class="fs-4"><a class="text-black text-decoration-none" href="./followers">Followers</a></h3>
              <h3 class="fs-4"><a class="text-black text-decoration-none" href="./following">Following</a></h3>
            </div>

            <!-- tarjeta FOLLOWERS -->
            <% for (const followingUser of user.following){ %>
            <div class="card-footer bg-white">
              <div class="row mb-3 g-0">
                <div class="col-1">
                  <div class="d-flex justify-content-end align-items-center">
                    <img
                      src="/img/icons/generic_avatar.PNG"
                      class="img-fluid rounded-circle w-50 mb-2"
                      alt="..."
                    />
                  </div>
                </div>
                <div class="col-5">
                  <div class="card-body px-3">
                    <h5 class="card-title mb-0 p-0 fs-6">
                      <%= followingUser.firstname %><%= followingUser.lastname %>
                    </h5>
                    <p class="card-text">
                      <small class="text-body-tertiary"><%= followingUser.username%></small>
                    </p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="text-end">
                    <form
                      action="/unfollow/<%=followingUser.id %>?_method=PATCH"
                      method="post"
                      class="d-inline"
                    >
                      <button
                        class="btn mt-1 btn-outline-dark rounded-pill px-3 fw-bold"
                        type="submit"
                      >
                        Following
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <% } %>
            <!-- tarjeta FOLLOWERS -->
          </div>
        </div>
        <div class="col-md-4"><%- include("../partials/sidebarRight") %></div>
      </div>
    </div>
    <script src="js/app.js"></script>
  </body>
</html>
