<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
    <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
    <!-- CSS propio -->
    <link href="css/profile_styles.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/css/general_styles.css" />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-2 col-lg-2"><%- include("../partials/sidebar.ejs") %></div>
        <!-- Left Sidebar -->
        <main class="col-8 col-lg-6 p-0">
          <div id="mainHeader">
            <div id="profileHeader" class="row position-relative">
              <div id="containerPhoto">
                <img
                  id="profilePhoto"
                  src="<%=tweets[0].author.avatar%>"
                  class="rounded-circle"
                  width="170px"
                  height="170px"
                  alt="User profile photo"
                />
              </div>
            </div>
            <div id="profileInfo" class="row border position-relative">
              <div class="col-2">
                <div class="text-end p-0">
                  <form method="post" action="">
                    <button id="button" type="button" class="btn btn-sm">Follow</button>
                  </form>
                </div>
              </div>
              <div class="row p-0 m-0">
                <div class="col-6 align-self-end">
                  <div id="userName">
                    <h2 class="fs-4 m-0">
                      <%=tweets[0].author.firstname%> <%=tweets[0].author.lastname%>
                    </h2>
                    <p class="fw-light m-0" style="color: #7b7b7b">
                      <%=tweets[0].author.username%>
                    </p>
                  </div>
                </div>
                <div class="col-6 text-end align-self-end" style="color: #7b7b7b">
                  <a
                    class="text-decoration-none text-black"
                    href="/<%=tweets[0].author.username%>/followers"
                  >
                    <p class="m-0 d-inline-block">
                      <strong class="text-black"><%=tweets[0].author.followers.length%></strong>
                      Followers
                    </p>
                  </a>
                  <a
                    class="text-decoration-none text-black"
                    href="/<%=tweets[0].author.username%>/following"
                  >
                    <p class="m-0 d-inline-block">
                      <strong class="text-black"><%=tweets[0].author.following.length%></strong>
                      Following
                    </p>
                  </a>
                </div>
              </div>
              <div class="row p-0 m-0">
                <div class="col-12 align-self-end">
                  <h4 class="m-0" id="tweets">Tweets</h4>
                </div>
              </div>
            </div>
          </div>

          <div class="row position-relative border"><%- include("../partials/tweet") %></div>
        </main>
        <div class="col-2 col-lg-4"><%- include("../partials/sidebarRight") %></div>
      </div>
    </div>
    <!-- Bootstrap -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>
    <script src="js/app.js"></script>
  </body>
</html>
